<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Secret</th>
      <th>Data</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.secret %></td>
        <td><%= device.data %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
