<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Maker's SimpleIOT" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Maker\'s SimpleIOT' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">        
       <%= render 'layouts/messages' %>
       <%= yield %>
     </div>
    </main>
    <footer>
      <div class="container">
        Created by <a href="https://www.facebook.com/mintuhouse" target="_blank">Hasan Kumar</a> for updating and retrieving simple data for IOT devices at <a href="https://www.facebook.com/makersasylum/" target="_blank">Maker's Asylum</a>
      </div>
    </footer>
  </body>
</html>
